.form {
  @include shadow;

  padding: 16px;
}

@media (min-width: $width-tablet) {
  .form {
    padding: 24px;
  }
}

.form__list {
  @include reset-list;
}

.form__list li + li {
  padding-top: 16px;
}

.form__list label {
  position: relative;
  padding-bottom: 4px;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.02em;
  color: $violet;
}

.form__label::after {
  content: "";
  position: absolute;
  top: 0;
  right: -4px;
  width: 4px;
  height: 4px;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
}

.form__list input,
.form__list textarea {
  @include form-shadow;
  width: 100%;
  padding: 10px 16px;
  font-family: inherit;
  font-size: 12px;
  line-height: 15px;
  color: $pale-grey;
}

.form__list textarea {
  resize: vertical;
  min-height: 108px;
}

.form button {
  width: 100%;
  min-height: 36px;
  margin-top: 24px;
  border: 0;
  background-color: $lighter-grey;
  border-radius: 10px;
  font-family: inherit;
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  letter-spacing: -0.02em;
  color: $pale-grey;
}
