$lighter-grey: #eeeeee;
$light-grey: #fffefb;
$pale-grey: #b4b4b4;
$grey: #3f3f3f;
$dark-grey: rgba(0, 0, 0, 0.04);
$darker-grey: rgba(0, 0, 0, 0.02);
$deep-grey: rgba(0, 0, 0, 0.1);
$violet: #49485e;
$blue: #036396;
